server {

listen 80;

access_log /var/www/upgradeyourself.tk/logs/nginx-access.log;
error_log /var/www/upgradeyourself.tk/logs/nginx-error.log;

location / {
   client_max_body_size 100M;
   include uwsgi_params;
uwsgi_pass unix:/var/www/upgradeyourself.tk/.venv/var/run/uwsgi.sock;
}

location /static/ {
alias /var/www/upgradeyourself.tk/static-files/;
}

server_name api.upgradeyourself.tk;


}
